.link-card {
  .row > div:last-child {
    max-height: 400px;
    overflow: hidden;

    // 省略を表す影を付けるやつ
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent 320px, white);
    }
  }

  .card-text {
    white-space: pre-line;
  }
}