.link-card {
  overflow: hidden;

  .row > div {
    max-height: 400px;
    overflow: hidden;
  }

  .row > div:first-child {
    display: flex;

    &:not([display=none]) {
      height: 400px;
    }
  }

  .row > div:last-child {
    // 省略を表す影を付けるやつ
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(rgba(255, 255, 255, 0) 320px, white);
    }
  }

  .card-text {
    white-space: pre-line;
  }

  .card-spoiler-img-overlay {
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;

    .warning-text {
      padding: 10px;
      user-select: none;
      background-color: rgba(240, 240, 240, 0.8);
      border-radius: 5px;
    }
  }

  .card-spoiler img {
    z-index: 1;
    filter: blur(15px) grayscale(100%);
  }
}
