.tis-metadata-preview {
    &-link-card {
        $height: 150px;
        overflow: hidden;

        .row > div:first-child {
            display: flex;

            &:not([display='none']) {
                min-height: $height;

                img {
                    position: absolute;
                }
            }
        }

        .card-title {
            font-size: small;
        }

        .card-text {
            font-size: small;
            white-space: pre-line;
        }
    }

    &-tag-item {
        cursor: pointer;
        user-select: none;
    }
}
