@charset "UTF-8";

.tis-footer {
    color: #a2a2a2;
    font-size: small;
    border-top: 1px solid #eee;
    background: linear-gradient(to bottom, #f8f9fa, #fff)
}

.tis-word-wrap {
    word-wrap: break-word;
}

.tis-contribution-graph {
    overflow-x: auto;
}

.tis-need-agecheck .container {
    filter: blur(45px);
    pointer-events: none;
}

.container {
    transition: filter .15s liner;
}

.list-group-item.no-side-border {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.list-group-item.border-bottom-only:first-child {
    border-top: none;
}

.list-group-item.border-bottom-only {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.list-group-item.border-bottom-only:first-child {
    border-top: none;
}

.timeline-action-item {
    margin-left: 16px;
}

.tis-global-count-graph {
    height: 90px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

@media (min-width: 992px) {
    .tis-sidebar-info {
        font-size: small;
    }
}