.tags {
  & > .btn-tag {
    width: 100%;

    .tag-name {
      display: inline-block;
      max-width: 80%;
      overflow: hidden;
      line-height: 40px;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }

    .checkins-count {
      display: inline-block;
      line-height: 40px;
      white-space: nowrap;
      vertical-align: middle;
    }
  }
}
