// Bootstrap Variable Overlide
$primary: #e53fb1;

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-custom";

// Open Iconic
@import "~open-iconic/font/css/open-iconic-bootstrap";

// Legacy app styles
@import "tissue.css";

// Components
@import "components/link-card";

.ejaculation-actions {
  & > button:not(:last-child) {
    margin-right: 24px;
  }
}

.like-button {
  text-decoration: none !important;
}

.like-count:not(:empty) {
  padding-left: 0.5rem;
}

.like-users {
  height: 30px;
}