// Bootstrap Variable Overlide
$primary: #e53fb1;

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Open Iconic
@import "~open-iconic/font/css/open-iconic-bootstrap";

// Legacy app styles
@import "tissue.css";

// Components
@import "components/ejaculation";
@import "components/link-card";
