// Bootstrap Variable Overlide
$primary: #e53fb1;

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Open Iconic
@import "~open-iconic/font/css/open-iconic-bootstrap";

// Legacy app styles
@import "tissue.css";

// Components
@import "components/ejaculation";
@import "components/link-card";
@import "components/tag-input";
@import "components/metadata-preview";
@import "components/profile-mini";

// Tag
@import "tag/index";

// Underline tabs
@import "underline-tabs";

// Status containerの後続要素との余白調整
.tis-status-container + .mt-n1 {
    margin-top: 0 !important;
}
