@charset "UTF-8";

.tis-footer {
    color: #a2a2a2;
    font-size: small;
    border-top: 1px solid #eee;
    background: linear-gradient(to bottom, #f8f9fa, #fff)
}

.tis-word-wrap {
    word-wrap: break-word;
}

.tis-contribution-graph {
    overflow-x: auto;
}

.tis-need-agecheck .container {
    filter: blur(45px);
    pointer-events: none;
}

.container {
    transition: filter .15s linear;
}

.list-group-item.no-side-border {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.list-group-item.border-bottom-only:first-child {
    border-top: none;
}

.list-group-item.border-bottom-only {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.list-group-item.border-bottom-only:first-child {
    border-top: none;
}

.timeline-action-item {
    margin-left: 16px;
}

.tis-global-count-graph {
    height: 90px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.tis-page-selector {
    margin-left: -1px;
    width: calc(100% + 2px);
    height: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0;
    line-height: 1.25;
}

@media (min-width: 992px) {
    .tis-sidebar-info {
        font-size: small;
    }
}

#navbarNav > .d-lg-none > .row > div:first-of-type {
    padding-left: 15px;
    padding-right: 7.5px;
}

#navbarNav > .d-lg-none > .row > div {
    padding-left: 7.5px;
    padding-right: 15px;
}

#navbarNav > .d-lg-none > .row > .col .btn {
    width: 100%;
}

#navbarAccountDropdownSp {
    max-width: calc(100vw - 5em);
}

.card-img-left {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}

.card-img-right {
    width: 100%;
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}